
project_astro/.vs/Astro/v16/Server/sqlite3/db.lock
project_astro/.vs/Astro/v16/Server/sqlite3/storage.ide
project_astro/.vs/Astro/v16/Server/sqlite3/storage.ide-shm
project_astro/.vs/Astro/v16/Server/sqlite3/storage.ide-wal
